<!DOCTYPE html>
<html>
<head>
  <title>OdaniaWiki</title>
  <%= stylesheet_link_tag    "odania_wiki/application", media: "all" %>
  <%= javascript_include_tag "odania_wiki/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
